# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\5 semester\WT\hotel-booking-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
